{% include header.html %}
<main class="main blog">

	<section class="content">
		<div class="container">

							


			<div class="row">
				<div class="col-lg-12">
					<h1>Gerelateerde nieuwsberichten</h1>
					<ul class="post-list">
						{% for post in site.posts %}
						{% assign match = false %}
						{% for category in post.categories limit:3 %}
						{% if page.categories contains category %}
						{% assign match = true %}
						{% endif %}
						{% endfor %}
						{% if match %}
						<li class="col-md-6 col-lg-6">
							<a href="{{ post.url}}">{{ post.title }}</a>
							<p>{{ post.date }} por {{ page.author }}</p>
						</li>
						{% endif %}
						{% endfor %}
					</ul>
				</div>
			</div>
		</div>
	</section>
</main>
{% include footer.html %}
