<div class="section" style="{% if page.path == "index.html" %}padding-top: 3rem; padding-bottom: 3rem;{% endif %}">
    <div class="{% if page.path == "index.html" %}container{% endif %}">
        <div class="row {{ object.align }} {{ object.color }}"> 
            <div class="col m12"> 
                {% if object.title %}<h4>{{ object.title }}</h4>{% endif %}
                <p>{{ object.text }}</p>
                {% if object.url %}<a href="{{ site.site_url }}/{{ object.url }}" class="waves-effect waves-light">{{ object.cta }}</a>{% endif %}
            </div>
        </div>
    </div>
</div>