
<footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Contact</h5>
          <p class="grey-text">{{ site.site_url }}{{ site.site_phone }}<br /><a href="mailto:{{ site.site_email }}" style="font-size:14px;" class="grey-text">{{ site.site_email }}</a></p>
        </div>


        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Links</h5>

          <ul>
          {% for item in site.data.menu.navbar %}
          {% if item.type == "link" %}
          <li class=""><a href="{{ site.site_url }}/{{ item.url }}" class="grey-text">{{ item.text }}</a></li>
          {% endif %}              
          {% endfor %}  
          </ul>          

        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        {{ site.site_copyright }} {{ site.site_name }}. {{ site.site_description }}
      <!--<a class="grey-text text-lighten-4 right" href="#!">Ontwikkeld door {{ site.author.name }}</a>-->
      </div>
    </div>
  </footer>
 <!--  Google Maps Plugin    -->
 <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?AIzaSyBu7h07XH5UXdKzFUgKNC2lBvlHr86-0_s"></script>
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="/assets/javascripts/materialize/bin/materialize.min.js"></script>
<script src="/assets/javascripts/scripts.js"></script>



</body>
</html>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-46280099-1', 'zorgperfect.nl');
  ga('send', 'pageview');

</script>