---
layout: default
---
<div class="section no-pad-bot" id="index-banner">
    <div class="container">
        <div class="row" id="row-banner">
            <div class="col l6 m12" style="padding-top:50px;">
                {% include form.html form="kennismaken" %}
            </div>
            <div class="col l5 offset-l1 m12 white-text" style="padding-top:50px;padding-bottom:50px;">
                <h2 class="header light">Persoonlijk. Zorg op maat.</h2>
                Zorgperfect zorgt voor de juiste balans in uw zorg.
            </div>
        </div>

    </div>

{% include objects.html page="index" %}
